microunity/Library/*
microunity/*.sln
microunity/*.csproj
*.suo
3rdParty/Lidgren.Network/Lidgren.Network/bin
3rdParty/Lidgren.Network/Lidgren.Network/obj
3rdParty/Lidgren.Network/UnitTests/bin
3rdParty/Lidgren.Network/UnitTests/obj
